body{
    font-family: 'Gochi Hand', cursive !important;
    overflow: hidden;
}

#Game{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;  /* Set to 100% of the viewport height */
}

#Container{
    max-width: 550px;
}

#HangingMan, #Alpha {
    vertical-align: middle;
    display: inline-block;
}

#HangingMan{
    text-align: center;
    width: 100%;
    height: min(30vh, 30vw);
    margin-bottom: 5vh;

}

.Container{
    text-align: center;
}

#Alpha{
    width: 80%;
    text-align: center;
    display: inline-block;
}

.button-alphabet {
    width: min(6vw, 6vh);
    height: min(6vw, 6vh);
    margin: 0.6vh;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 3vh;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Gochi Hand', cursive !important;
  }
  
  .button-alphabet:hover {
    background-color: #45a049;
  }
  
  .button-alphabet:disabled {
    background-color: red;
    cursor: not-allowed;
  }
  

#HiddenWord{
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 4vh;
    font-weight: bold;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.result{
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 3vh;
    height: 3vh;
    font-weight: bold;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#StartButton{
    position: relative;
    text-align: center;
    font-size: 4vh;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1em;
    width: auto;
    height: 5vh;
    font-weight: bold;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Gochi Hand', cursive !important;
}

#Failures{
    position: relative;
    width: 100%;
    text-align: left;
    font-size: min(4vh, 4vw);
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 2em;
}

@media (min-width: 550px) {
    .button-alphabet {
        width: 1.5em;
        height: 1.5em;
    }
  }

h1 {
    font-size: min(8vh, 8vw);
    font-weight: bold;
    text-align: center;
    font-family: 'Gochi Hand', cursive !important;
}