#Game{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;  /* Set to 100% of the viewport height */
}

#Container{
    max-width: 550px;
}

#HangingMan, #Alpha {
    vertical-align: middle;
}

#HangingMan{
    position: relative;
    width: 40%;
    display: inline-block;
}

#Alpha{
    position: relative;
    width: 40%;
    float: right;
    display: inline-block;
    top: 5em;
}
